@import url("https://fonts.googleapis.com/css2family=Crimson+Pro:wght@200&family=Lora:wght@500&family=Montserrat:wght@400;500;700&display=swap");

// Colors

$black: #181719;
$white: #fff;
$gray: #828282;

// Fonts

$crimson-pro-font: "Crimson Pro", serif;
$lora-font: "Lora", serif;
$montserrat-font: "Montserrat", sans-serif;

// Weights

$weight-200: 200;
$weight-400: 400;
$weight-500: 500;
$weight-700: 700;
